<div><h3 id='miniTitle'><span>Selfie</span><span>City</span></h3></div>

<h2 id="adventTitle"> Welcome Back, Darcy!</h2>

<div class="menu">
            <a class="yellow" href="#/view3">Downtown Detroit</a>
            <a class="green" href="#/view3">Midtown</a>
            <a class="pink" href="#/view3">Corktown</a>
            <a class="purple" href="#/view3">West Village</a>
            <a class="blue" href="#/view3">Eastern Market</a>
            <a class="orange" href="#/view3">Riverwalk</a>
        </div>