<div><h3 id='miniTitle'><span>Selfie</span><span>City</span></h3></div>
<span><h5>Tom Alexander</h5></span>
<p>
<img class="profilePic" src="./public/images/profilepic.jpg">
</p>

<h3>Recent Selfies</h3>



<h3>Badges</h3>
<img class="profileBadge" src="./public/images/guardian.png">
<img class="profileBadge" src="./public/images/grandcircus.png">
<img class="profileBadge" src="./public/images/superhero.png">
<img class="profileBadge" src="./public/images/belt.png">
<img class="profileBadge" src="./public/images/national.png">
<img class="profileBadge" src="./public/images/hart.png">